<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MeetUp</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div id="content">

		<header id="home-header">
		</header>
		<main id="main">


	<div id="login-form">
		<h2 class="sub-headings">I have an account!</h2>
		<form action="/signin" method="POST" accept-charset="utf-8">
			<input type="mail" name="email" placeholder="Email">
			<input type="password" name="pass" placeholder="Password">
			<button type="submit">Take me in !</button>
		</form>
	</div>

	<aside id="signup-form">

		<h2 class="sub-headings">I dont have an account!</h2>
		<form action="/signup" method="POST" accept-charset="utf-8">
			<input type="text" name="first_name" placeholder="First Name">
			<input type="text" name="last_name" placeholder="Last Name">
			<input type="mail" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<button type="submit">Register me !</button>
		</form>

	</aside>

		</main>

		<footer id="footer">

		</footer>


	</div>
</body>
</html>