html, body, h1, h2, div, ul, li, input,button {
    margin: 0 auto;
    padding: 0 auto;
}
#content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#home-header {
    background-color: rgb(0,186, 210);
    border-bottom: 5px solid grey;
    width: 100%;
    height: 15%;
}
#signup-form{
    display: inline-block;
}
#logo{
	width: 60%;
	vertical-align: middle;
}
#main{
	background-color: rgb(185, 246, 202);
	height: 70%;
}
#footer{
	border-top: 5px solid grey;
	background-color: rgb(255, 82, 82);
	height: 15%;
}
#login-form {
    display: inline-block;
    vertical-align: top;
	text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
input{
	display: block;
    width: 100%;
    height: 30px;
    margin-top: 5%;
    text-align: center;
}

.sub-headings{
    font-size: 50px;
    color:rgb(255, 82, 82);
    font-family: Calibri;
}
button {
    width: 100%;
    height: 40px;
    margin-top: 7%;
}

#no-acc {
    display: block;
    margin-top: 1%;
}

aside{
    display: inline;
}

#logo{
    width: 35%;
}